<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8"></meta>
<title>Inicio Propietario</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link th:href="@{/styles/main.css}" rel="stylesheet" />


<link href='https://fonts.googleapis.com/css?family=Be+Vietnam+Pro'
	rel='stylesheet' type='text/css' />

</head>

<body>
	<header>
		<h1 class="logo_findr">FindRoomie</h1>
		<div class="navigation">
			<ul class="enlaces">
				<li><a th:href="@{/bienvenido}" class="header-link">Inicio</a></li>
				<li><a href="#" class="header-link">Sobre Nosotros</a></li>
				<li><a href="#" class="header-link">Lugares</a></li>
				<li><a href="#" class="header-link">Contacto</a></li>
				<li><a href="#" class="header-link">Configuración</a></li>
				<li><a th:if="${Premiun == false}" th:href="@{'/SuscripcionXPropietario/datos/'}+${idPropietario}" class="btn-sus1">Premium</a></li>
				<li><a th:if="${Premiun == true}" th:href="@{/SuscripcionXPropietario/eliminar?id=}+${idSuscripcion}+'&amp;Pro='+${idPropietario}" class="btn-sus1">Cancelar Premium</a></li>
			</ul>
		</div>
	</header>
	<main>
		<div class="c-main-p">
			<div class="c-inicio-p">
				<div class="i-izq">
					<h1>Bienvenido, propietario</h1>
					<h1>Mis viviendas</h1>
					<div class="i-dere">
						<a th:href="@{/vivienda/irRegistrar}" class="btn-unete">Agregar
							vivienda</a>
					</div>
					<br />
					<table id="viviendas">
						<thead>
							<tr>
								<th>DESCRIPCION</th>
								<th>DIRECCION</th>
								<th>NCUARTOS</th>
								<th>NBAÑOS</th>
								<th>NPISOS</th>
								<th>NPERSONAS</th>
								<th>OPERACION</th>
								<th>OPERACION</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="due: ${listaViviendas}">
								<td th:text="${due.NNombreVivienda}"></td>
								<td th:text="${due.DDireccionVivienda}"></td>
								<td th:text="${due.NCuartosVivienda}"></td>
								<td th:text="${due.NBanosVivienda}"></td>
								<td th:text="${due.NPisosVivienda}"></td>
								<td th:text="${due.NPersonasVivienda}"></td>
								<td><a th:href="@{/vivienda/eliminar?id=}+${due.idVivienda}">Eliminar</a></td>
								<td><a th:href="@{'/vivienda/modificar/'}+${due.idVivienda}">Modificar</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card">
					<div class="card-image">
						<img
							src="https://512pixels.net/downloads/macos-wallpapers/10-0_10.1.png"
							alt="bg" />
					</div>
					<div class="profile-image">
						<img
							src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80"
							alt="pfp" />
					</div>
					<div class="card-content">
						<h3 th:text="${NombreApellido}"></h3>
						<h4 th:text="${Correo}"></h4>
						<p th:text="${Presentacion}"></p>
						<p th:text="${mensajePremiun}"></p>
						<h2 th:if="${mensaje != null}" th:text="${mensaje}"></h2>
						<a th:href="@{'/propietario/modificar/'}+${idPropietario}" class="btn-sus1">Editar perfil</a>
						
						<a th:href="@{/bienvenido}" class="btn-sus2">LogOut</a>
					</div>
				</div>
			</div>
			<div class="circle1"></div>
			<div class="circle2"></div>



		</div>
	</main>
	<div th:replace="fragments/footer :: footer"></div>



</body>
</html>