<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8"></meta>
<title>Registro Vivienda</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link th:href="@{/styles/main.css}" rel="stylesheet" />


<link href='https://fonts.googleapis.com/css?family=Be+Vietnam+Pro'
	rel='stylesheet' type='text/css' />

</head>

<body>
	<header>
		<h1 class="logo_findr">FindRoomie</h1>
		<div class="navigation">
			<ul class="enlaces">
				<li><a th:href="@{/bienvenido}" class="header-link">Inicio</a></li>
				<li><a href="#" class="header-link">Sobre Nosotros</a></li>
				<li><a href="#" class="header-link">Lugares</a></li>
				<li><a href="#" class="header-link">Contacto</a></li>
			</ul>
		</div>
	</header>
	<main>
	<div class="c-main-registro">
		<div class="registro1R">
			<form class="registroRR" th:action="@{/vivienda/registrar}" method="post" th:object="${vivienda}">
				<div>
					<h2>Registro de Vivienda</h2>
					<input type="text" th:field="*{idVivienda}" hidden="hidden"></input>
					
					<label for="nombre">Propietario:</label>
					<label th:text="${NAPropietario}"></label>
    					<select id="cbo-RE-genero" th:field="*{propietarioVivienda.idPropietario}" hidden="hidden">
	    					<option th:value="${idPropietario}"
	    							th:text="${NAPropietario}">
	    					</option>
    					</select>
    				<br/>
					<br/>	
					
					<label id="l-RV-nombrevivienda" for="nameV">Descripcion</label><br/>
					<input type="text" id="i-RV-nombrevivienda" maxlength="20" th:field="*{NNombreVivienda}">
					<br/>
					<br/>
					<label id="l-RV-direccion" for="direccion">Direccion</label><br/>
					<input type="text" id="i-RV-direccion" maxlength="100" th:field="*{DDireccionVivienda}">
					<br/>
					<br/>
					<label id="l-RV-nrocuartos" for="nrocuartos">Nro de cuartos</label><br/>
					<input type="number" id="i-RV-nrocuartos" max="10" th:field="*{NCuartosVivienda}">
					<br/>
					<br/>

				</div>
				<div>
					<br/>
					<br/>
					<label id="l-RV-nrobanios" for="nrocuartos">Nro de baños</label><br/>
					<input type="number" id="i-RV-nrobanios" max="10" th:field="*{NBanosVivienda}">
					<br/>
					<br/>
					<label id="l-RV-nropisos" for="nrocuartos">Nro de pisos</label><br/>
					<input type="number" id="i-RV-nropisos" max="10" th:field="*{NPisosVivienda}">
					<br/>
					<br/>
					<label id="l-RV-nropersonas" for="nrocuartos">Nro de personas</label><br/>
					<input type="number" id="i-RV-nropersonas" max="20" th:field="*{NPersonasVivienda}">
					<br/>
					<br/>
					<button type="submit" id="btn-RE-registroR">Registrar Vivienda</button>
					
				</div>
			</form>
		
		</div>
		<div class="circle3"></div>
		<div class="circle4"></div>
		<div class="circle1"></div>
		<div class="circle2"></div>
		
		
	
	</div>
	</main>
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>