*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: "Be Vietnam Pro";
	color: black;
	text-align: center;
	background: #F7FCFF;
}
#b-landing{
	margin-top:4rem;
	height:95%;
	width:95%;
}
#bg-register{
	margin-top:2rem;

}
.h-header {
	width: 100%;
	margin: 0 auto;
	align-items: center;
	display:flex;
	position:fixed;
	background: white;
	justify-content: space-between;
	top:0;
	left:0;
	z-index:999;
	padding: 0 4em;
	
	
}
header {
	width: 100%;
	margin: 0 auto;
	align-items: center;
	display:flex;
	position:fixed;
	background: white;
	justify-content: space-between;
	top:0;
	left:0;
	z-index:999;
	padding: 0 4em;
	
	
}
.header-link {
	font-weight: 500;
	font-size: 15px;
	color: #949EA7;
	text-decoration: none;
	position: relative;
	margin: 0 10px;
}

.header-link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: currentColor;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 250ms ease-in;
}

.header-link:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.btn-unete {
	font-weight: 500;
	font-size: 16px;
	padding: 10px 35px 10px 35px;
	border-radius: 20px;
	background: #33658A;
	color: white;
	text-decoration: none;
	box-shadow: 0px 3px 17px #2868B187;
}

.btn-unete:hover {
	background: #86bbd8;
}

.l-propietarios {
	font-weight: 500;
	font-size: 14px;
	color: white;
	padding: 10px;
	background-color: #394B73;
}

.l-propietarios:hover {
	background: #86bbd8;
}

.btn-sus1 {
	font-weight: 700;
	font-size: 16px;
	padding: 10px 25px 10px 25px;
	border-radius: 20px;
	background: #F6AE2D;
	color: white;
	text-decoration: none;
}
.btn-sus1:hover{
		box-shadow: 0px 3px 17px #F28D1978;
}

.btn-sus2 {
	font-weight: 700;
	font-size: 16px;
	padding: 10px 25px 10px 25px;
	border-radius: 20px;
	background: #904E4E;
	color: white;
	text-decoration: none;
}
.btn-sus2:hover{
		box-shadow: 0px 3px 17px #6B1D1D;
}

.c-sus {
	background-image:url('../imagenes/premiumbg.png');
	width:85%;
	margin: 0 auto;
	margin-top:4.7em;
	background-size:100% 100%;
	height:800px;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.aux11{
	margin-bottom: 60px;
}
.aux12{
	
	width:500px;

}

.btn-m-sus {
	font-weight: 800;
	font-size: 35px;
	padding: 10px 25px;
	border-radius: 30px;
	background: #F6AE2D;
	color: white;
	text-decoration: none;
	z-index: 999;
}
.btn-m-sus:hover{
	box-shadow: 0px 3px 17px #F28D1978;
	
}
.logo_findr {
	color: #394B73;
	font-size: 20px;
	font-style: italic;
	font-family: 'Be Vietnam Pro';
	font-weight: 700;
	float: left;
	padding: 10px 0;
}





.navigation ul {
	list-style: none;
}

.navigation li {
	display: inline-block;
	margin-left: 20px;
}

.c-login-main{
	background-image:url('../imagenes/bg-loginn.png');
	width:85%;
	margin: 0 auto;
	margin-top:4.7em;
	background-size:100% 100%;
	height:800px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.c-login-main2 {
	background-image:url('../imagenes/bg-register.png');
	width:85%;
	margin: 0 auto;
	margin-top:4.7em;
	background-size:100% 100%;
	height:800px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}


.d-izquierda {
	background-color: #949EA7;
	height: 100%;
	flex: 1.3;
}

.d-derecha {
	background:transparent;
	text-align: center;
	width: 650px;

	
}

.loginRR, .loginPP{
	text-align: left;
	margin-left:150px;
}
.registroRR, .registroPP{
	text-align: left;
	display: flex;

}
.registroRR div{
	padding: 2em;
}

.d-login {
	padding: 40px;

}

.t-login {
	font-weight: 700;
	color: black;
	font-size: 46px;
	margin: 0 0 0 50px;
	text-align: left;
}



.t-eresnuevo {
	color: #949EA7;
	margin: 0;
	font-size: 14px;
}

img {
	max-width: 100%;
}

#btnEntrar {
	font-family: 'Be Vietnam Pro';
	font-weight: 700;
	color: white;
	font-size: 20px;
	background: #33658A;
	box-shadow: 0px 3px 17px rgba(40, 104, 177, 0.53);
	padding: 15px 100px;
	border-radius: 38px;
	border: none;
}

::placeholder{
	font-family:'Be Vietnam Pro';
	font-size:13px;
  	opacity: .5;
}

#btnEntrar:hover {
	background: #86bbd8;
}


.registrate-aqui{
	color: black;
	font-weight: 700;
	font-size: 16px;
}

#mailL, #passwL{
	color: rgba(47, 72, 88, .64);
	font-size: 14px;
}

#correoElectronico, #contrasenia, #correoElectronicoP, #contraseniaP {
	height: 45px;
	background: #F0F4FF 0% 0% no-repeat padding-box;
	border: 1px solid #394B736E;
	border-radius: 6px;
	width: 250px;
	border: 1px solid grey;
}


.c-main-config {
	background-image:url('../imagenes/bg-config.png');
	width:100%;
	margin: 0 auto;
	margin-top:4.7em;
	background-size:100% 100%;
	height:800px;
	display:flex;
	justify-content: center;
	align-items: center;

}

.c-flex-config {
	margin-top:-3em;
	height: 100%;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.p-config-izq {
	background: rgba(255,255,255,0.7);
	width: 355px;
	height: 648px;
	padding: 3em;
	text-align:left;
	border-radius: 15px;
	backdrop-filter: blur(40px);
	z-index: 800;
	box-shadow: 0px 8px 40px rgba(51, 101, 138, 0.18);
	
}

.config-link {
	font-weight: 600;
	font-size: 19px;
	color: black;
	line-height: 40px;
	text-decoration: none;
	position: relative;
	line-height: 3rem;
}

.config-link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: currentColor;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 250ms ease-in;
}

.config-link:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.config-list {
	list-style: none;
	padding:0;
	
}

.p-config-der {
	background: rgba(255,255,255,0.7);
	backdrop-filter: blur(40px);
	padding: 3em;
	width: 1025px;
	height: 648px;
	border-radius: 15px;
	box-shadow: 0px 8px 40px rgba(51, 101, 138, 0.18);
	display:grid;
	z-index: 800;
	
	
}
.f-edit-perfil{
	display: flex;
	justify-content: space-around;
	align-items:center; 
	
	
}


.p-infoprop-der{
	background: rgba(255,255,255,0.95);
	width: 60%;
	height: 448px;
	border-radius: 15px;
	box-shadow: 0px 8px 40px rgba(51, 101, 138, 0.18);
	padding:2em;
}
.p-infoprop-der h2{
		text-align: center;	
}

.p-infov-izq{
	background: rgba(255,255,255,0.95);
	width: 35%;
	height: 448px;
	padding: 2.5em;
	border-radius: 15px;
	box-shadow: 0px 8px 40px rgba(51, 101, 138, 0.18);
	
}

.p-infov-izq h3 {
	text-align: center;
}	


#vervivienda-prop-form{
	display: flex;
	justify-content: space-around;
}
#vervivienda-prop-form div{
	padding: 2em;
}

.t-h2-editarPerfil{
	font-weight: 600;
	font-size: 40px;
}

#l-EP-email, #l-EP-password, #l-EP-NombresCompletos, #l-EP-ApellidosCompletos,
#l-EP-numerotelef, #l-EP-direccion{
	font-size: 12px;
	color: #2F4858;
}

#i-EP-email, #i-EP-password, #i-EP-numerotelef, #i-EP-direccion{
	height: 36px;
	background: #FCFFF0 0% 0% no-repeat padding-box;
	
	border-radius: 6px;
	width: 200px;
	border: 1px solid grey;
}
#i-EP-nombrescompletos, #i-EP-apellidoscompletos, #i-VV-dni, #i-VV-email,
#i-VV-direccion, #i-VV-nrocuartos, #i-VV-nrobanos, #i-VV-nropisos{
	height: 36px;
	background: #F0F0F0 0% 0% no-repeat padding-box;
	border-radius: 6px;;
	width: 170px;
	border: 1px solid grey;
}




#btn-EP-cancelar, #btn-VV-bloquear {
	font-size: 16px;
	border: none;
	font-family: 'Be Vietnam Pro';
	color: gray;
	font-weight: 700;
	background: white;
	border-radius: 30px;
	padding: 0.4em 1.7em;
	border: 2px solid gray;
}
#btn-EP-cancelar:hover, #btn-VV-bloquear:hover{
	background: #F0F0F0;
}

#btn-EP-actualizarcambios {
	font-size: 16px;
	border: none;
	font-family: 'Be Vietnam Pro';
	color: white;
	font-weight: 700;
	background: #33658A;
	border-radius: 30px;
	padding: 0.6em 1.7em;
	box-shadow: 0px 8px 40px rgba(40, 104, 177, 0.53);
	margin-left: 7px;
}
#btn-EP-actualizarcambios:hover{
	background: #c5deec;
}

.p-config-der-sus{
	background: rgba(255,255,255,0.8);
	backdrop-filter: blur(40px);
	width: 1025px;
	height: 648px;
	padding:3em;
	text-align:left;
	border-radius: 15px;
	z-index:900;
	box-shadow: 0px 8px 40px rgba(51, 101, 138, 0.18);
}
.p-config-izq-pref{
	margin-top:2em;
	background: rgba(255,255,255,0.95);
	height: 448px;
	padding:1em;
	border-radius: 15px;
	width:250px;
	box-shadow: 0px 0px 40px rgba(51, 101, 138, 0.30);
}
.p-config-izq-pref h3{
	text-align: center;
	margin-bottom:2em;
}
.c-roomieinicio{
	display:flex;
	justify-content: space-around;
	align-content: center;
	background: #f7fcff;
	width: 100%;
}
.roomie-datatable{
	margin-top:2em;
	width: 60%;
}

#editarperfil-form{
	display: flex;
	justify-content: space-around;
}
#editarperfil-form div{
	
	padding: 2em;
}


#cbo-distrito, #cbo-mascota, #cbo-edad{
	background: #86bbd8;
	padding: 8px 10px;
	border-radius: 5px;
	border:none;
	box-shadow: 0px 0px 40px rgba(51, 101, 138, 0.30);
	font-family: 'Be Vietnam Pro';
	font-size: 13px;
	letter-spacing: 0;
	font-weight: 500;
	
}
input[type="text"], input[type="date"]
{
    font-size:13px;
    font-family: 'Be Vietnam Pro';
}

.r-main-config {
	width:100%;
	height:580px;
	margin-top:4em;
	position: relative;

}

.c-main-registro{
	background-image:url('../imagenes/bg-config.png');
	width:95%;
	margin: 0 auto;
	margin-top:4.7em;
	background-size:100% 100%;
	height:800px;
	display:flex;
	justify-content: center;
	align-items: center;

}
.circle1, .circle2{
	height: 20rem;
	width: 20rem;
	border-radius:50%;
	position: absolute;
	z-index: 1;

}
.circle3, .circle4{
	height: 15rem;
	width: 15rem;
	border-radius:50%;
	position: absolute;
	z-index: 1;

}
.circle1{
	background:#F6AE2D;
	top:5%;
	left:25%;
}
.circle2{
	background: #33658A;
	bottom:15%;
	right:25%;
}
.circle3{
	background:#93bbff;
	top:25%;
	left:45%;
}
.circle4{
	background: #ff8040;
	bottom:15%;
	right:55%;
}

.registro1R {
	background: rgba(255,255,255,0.70);
	display: flex;
	box-shadow: 0px 0px 40px rgba(51, 101, 138, 0.30);
	border: 1px solid #61616117;
	border-radius: 20px;
	padding: 1em;
	position: absolute;
	flex-basis: 100%;
	margin: 0 auto;
	backdrop-filter: blur(40px);
	z-index:900;	
}




.r-1{
	background: transparent;
}
.r-1 h2{
	font-weight: 800;
	font-size: 30px;
}

.r-2{
	background: transparent;
}
.r-1, .r-2{
	padding:2em;
}

#l-RE-email, #l-RE-password, #l-RE-NombresCompletos, #l-RE-ApellidosCompletos,
#l-RE-nrocelular, #l-RE-direccion, #l-RE-username, #l-RE-fnacimiento, #l-RE-genero,
#l-RE-presentacion, #l-RE-nacionalidad, #l-RV-nombrevivienda, #l-RV-direccion, #l-RV-nrocuartos, #l-RV-nrobanios,
#l-RV-nropisos, #l-RV-nropersonas, #l-RE-DNI{
	font-size: 12px;
	color: #2F4858;
}

#i-RE-nombrescompletos, #i-RE-apellidoscompletos,
#i-RE-email, #i-RE-password, #i-RE-nrocelular, #i-RE-username,
#i-RE-nacionalidad, #ca-RE-fnacimiento, #cbo-RE-genero, #i-RE-presentacion,
#i-RV-nombrevivienda, #i-RV-direccion, #i-RV-nrocuartos, #i-RV-nrobanios,
#i-RV-nropisos, #i-RV-nropersonas, #i-RE-DNI{
	
height: 36px;
	background: #F0F4FF 0% 0% no-repeat padding-box;
	background: #F0F4FF 0% 0% no-repeat padding-box;
	border: 1px solid #394B736E;
	border-radius: 6px;
	width: 200px;
	border: 1px solid grey;
}

#cbo-RE-genero{
	background: #86bbd8;
	padding: 8px 10px;
	border-radius: 5px;
	border:none;
	box-shadow: 0px 0px 40px rgba(51, 101, 138, 0.30);
	font-family: 'Be Vietnam Pro';
	font-size: 13px;
	letter-spacing: 0;
	font-weight: 500;
	
}

#btn-RE-registroR {
	font-size: 16px;
	border: none;
	text-decoration:none;
	font-family: 'Be Vietnam Pro';
	color: white;
	font-weight: 700;
	background: #33658A;
	border-radius: 30px;
	padding: 1em 4em;
	box-shadow: 0px 8px 40px rgba(40, 104, 177, 0.53);
	margin-left: 7px;
}
#btn-RE-registroR:hover{
	background: #c5deec;
}
.v-main-config {
	width:100%;
	height:580px;
	margin-top:3em;
	position: relative;

}
.registroV {
	background: rgba(255,255,255,0.95);
	box-shadow: 0px 0px 40px rgba(51, 101, 138, 0.30);
	border: 1px solid #61616117;
	border-radius: 20px;
	padding: 2em;
	position: absolute;
	flex-basis: 100%;
	margin: -570px 0 0 160px;
}

#registro-vivienda{
	display: flex;
	justify-content: space-between;
}
#registro-vivienda div{
	padding:2em;
}

.c-info-prop{
	padding:3em;
}

#viviendas {
  border-collapse: collapse;
  width: 100%;

  
}

#viviendas td, #viviendas th {
  border: 1px solid #ddd;
  padding: 10px;
}

#viviendas tr:nth-child(even){background-color: #f2f2f2;}

#viviendas tr:hover {background-color: #ddd;}

#viviendas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #33658A;
  color: white;
}
.c-main-p, .c-main-r{
	background-image:url('../imagenes/bg-config.png');
	width:95%;
	margin: 0 auto;
	margin-top:4.7em;
	background-size:100% 100%;
	height:800px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.c-inicio-p, .c-inicio-r {
	background: rgba(255,255,255,0.70);
	display: flex;
	box-shadow: 0px 0px 40px rgba(51, 101, 138, 0.30);
	border: 1px solid #61616117;
	border-radius: 20px;
	padding: 3em;
	width: 1500px;
	height: 750px;
	position: absolute;
	flex-basis: 100%;
	margin: 0 auto;
	backdrop-filter: blur(40px);
	z-index:900;
	justify-content: space-between;	
}



.i-izq{
	text-align: left;
}
.i-dere{
	padding: 0 3rem;
		text-align: left;
	
	
}
.card {
  font-family: 'Be Vietnam Pro';
  width: 340px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
	box-shadow: 0px 0px 40px rgba(51, 101, 138, 0.30);
  display: flex;
  flex-direction: column;
}

.card-image img {
  width: 100%;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.profile-image img {
  z-index: 1;
  width: 120px;
  height: 120px;
  position: relative;
  margin-top: -75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 10px solid #fff;
  transition-duration: 0.4s;
  transition-property: transform;
}

.profile-image img:hover {
  transform: scale(1.1);
}

.card-content h3 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

.card-content p {
  font-size: 16px;
  text-align: justify;
  padding: 0 20px 5px 20px;
}

footer {
  width: 100%;
  color: white;
  z-index:200;
  
  background: #202020;
}
.container-footer-main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  
  padding: 2rem;
}
.container-body {
  display: flex;
  justify-content: space-between;
}
.col1,
.col2,
.col3 {
  width: 400px;
}
.container-body h1 {
  color: white;
  font-size: 22px;
  font-weight: 500;
}
.col1 p {
  font-family: var(--ff-poppins);
  font-size: 14px;
  color: #c7c7c7;
  padding: 0;
  margin-top: 20px;
}

.col2 .row {
  margin-top: 20px;
}
.row label {
  font-family: 'Be Vietnam Pro';
  margin-left: 20px;
  color: #c7c7c7;
}
.row {
  display: flex;
  align-items: center;
}
.row img,
.row2 img {
  width: 30px;
  height: 30px;
}

.row2 {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.row2 label {
  font-family: 'Be Vietnam Pro';
  margin-left: 20px;
}

.container-footer {
  font-family: 'Be Vietnam Pro';
  background-color: #101010;
  width: 100%;
  color: #c7c7c7;
  font-weight: 300;
}
.footerb {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  padding: 1.1rem;
}
.container-footer a {
  color: white;
  text-decoration: none;
}
.copyright a {
  font-weight: 600;
}
.terminos a {
  color: #c7c7c7;
}















